
.offcanvas-body{
  font-size: large;
  font-weight: 500;

}
.navbar-nav .nav-item .nav-link.active{
  color:blueviolet; /* Change this to the desired color for active link */
  /* Add any other styles you want for the active tab */
}
.home:focus {
  background-color: yellow;
}
.navbar-nav{
  padding-left: 10px;
  padding-right: 20px;
}

.navbar-brand{
    font-weight: 500;
    color: blueviolet;
    font-size: 24px;
    margin-left: 50px;
}
.navbar-brand:hover{
    color:darkblue;
}
.navbar{
    background-color: white;
    /* border-radius: 50px;
    margin-top: 10px; */
    padding-top: 25px;
    padding-bottom: 30px;
    box-shadow: 0 0 2px 2px blueviolet;
}


/* .login-button{
    background-color: blueviolet;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
} */


.navbar.toggle {
    border: none;
    font-size: 1.25rem;

}
#offcanvasNavbarLabel{
    color: blueviolet;
}

.navbar.toggle:focus, .btn-class:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color:#756f6f;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: blueviolet;
}

/* hero section start */
/* .hero-section{
    background: url(../images/misurina-sunset.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height:100vh;
    position: relative;

} */
.hero-section{
    margin-top: 50px;
    width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  @media (max-width: 767px) {
    
}
}
.hero-section {
  
    .video-container {
      height: 100vh;
      width:100%;
      position: relative;
      overflow: hidden;
      @media (max-width: 767px) {
        height: 100%;
      }
    }
}

.bg-transp{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(31,44,108,.20);
   
}
#intro{
    text-align: center;
    padding-top: 130px;
    text-decoration: solid;
    z-index: 99;
    position: relative;
    
}
h1{
    color: azure;
    text-decoration: solid;
    font-size: 4em;
}


#work{
    color:blue;
    text-decoration: solid;
    margin-top: 30px;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
    
}
#work:hover{
  color: blueviolet;
}
#description{
  color:white;
  
}
#role:hover{
    color: blueviolet;
}

.format{
    color: blueviolet;
    text-decoration: solid;

}

.resume{
    background-color: blueviolet;
    color:  white;
    font-size: 22px;
    padding: 8px 20px;
    border-radius: 5px;
    width: 250px;
    height: 60px;
    text-decoration: none;
    transition: 0.3s background-color;
    font-weight: 700;
    margin-top: 20px;
}
.resume a{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.5px white;
       
}
.resume:hover{
    background-color:blue;

}

/* ..............About start........ */
#about-content{
  margin-bottom: 100px;
  margin-top: 100px;
}
.aout-header{
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: capitalize;
}
a  {
  text-decoration: none;
  color: black;
}
/* #profile-image{
    height: 450px;
    width: 400px;
    
} */
/* #about-content{
    margin-bottom: 150px;
    margin-top: 100px;
} */
.about-profile{
  padding-left: 100px;
  padding-top: 50px;

}
.single-about-add-info p {font-weight:  300;border:  0;padding: 0;margin-top: 3px;}
/*.single-about-txt*/

/*.single-about-img */

.single-about-img{position: relative;
  height:500px ;
  max-width: 400px ;
  box-shadow: 0 5px 5px rgba(14,25,80,.30);}
.single-about-img:before {
    
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 400px;
    height:  100%;
    background: rgba(31,44,108,.3);
}
.single-about-img img {
    width: 400px;
    height: 100%;
}
.about-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 90px;
    background: #1f2c6c;
}
/*.ab-list-icon */
.about-list-icon ul {
    list-style: none;
    display: flex;
    position: relative;
    margin-right: 55px;
}
.about-list-icon  ul li {
 
  padding: 10px;
  align-items: center;
}
.about-list-icon  ul li a {
    padding-right: 22px;
    cursor:pointer;
    color: #fff;
}
.about-list-icon ul li a {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 2px solid;
    
    margin-left: 50px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
}
.about-list-icon ul li a i {
    margin-left: 6px;
}
/* ........education section start */
    

/* 
.row .education-content{
    margin-bottom: 550px;
    margin-top: 200px;
} */

#education-page{
    background-color:rgb(249, 251, 255);
    height: 100%;
    width: 100%;
    
}
 .education-content{
    margin-bottom: 150px;
    margin-top: 150px;
 }



.divider2{
    position: relative;
    width: 100%;
    height:8px;
    border-bottom: 1px solid #756f6f;
    margin:30px 0
    

}
.divider2:before{
    content: '';
    position: absolute;
    left: 0;
    top:3px; width:10px; height: 10px;
    border-radius:50%;
    background:blueviolet;
    z-index: 99;
    margin-right: 20px;
    
}

/* skill section start */
.skill-container{
  padding-left: 50px;

}
.skill-content{
  margin-bottom: 150px;
  margin-top: 100px;
}
.progress-bar {
  margin: 0 0 10px;
  overflow: hidden;
  padding-right: 24px; /* Separate bars from container */
}

.progress-title-holder {
  padding-bottom: 7px;
  position: relative;
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
  color: #2e2e2e ;  
  text-align: left;
  font-weight: 100;
}

.progress-title {
  z-index: 100;
  text-align: left;
}

.progress-number-wrapper {
  width: 100%;
  z-index: 10;
}

.progress-number-mark {
  margin-bottom: 4px;
  border-radius: 3px;
  background-color: blueviolet;
  padding: 0 8px;
  position: absolute;
  bottom: 0;   
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%); 
} 

.progress-number-wrapper,
.progress-number-mark {
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #ffffff;
}


.down-arrow {
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px blueviolet;
  position: absolute;
  left: 50%;
  top: 100%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);  
}

.progress-content-outter {
  height: 12px;
  background-color: #ffffff;
}

.progress-content {
  height: 21px;
  background-color:blueviolet;
 
  border-radius: 10px;
 
}
 /*............Experience start  */
 .experience{
    padding-bottom: 100px;
    margin-bottom: 20px;
 }
 @import url(https://fonts.googleapis.com/css?family=Raleway:400,900);

body{
  font-family: 'Raleway', sans-serif;
  color: #333;
}

header h1{
  text-align: center;
  font-weight: bold;
  margin-top: 0;
}
  
 header p{
   text-align: center;
   margin-bottom: 0;
 }

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: blueviolet;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid blueviolet;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid blueviolet;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: blueviolet;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

/* ..........CONTACT START */
.contact-continer{
    padding-bottom: 100px;
}
#contact{
    background: rgb(249, 251, 255);
}
.contact-info{
    padding-left: 150px;
    padding-top: 90px;
}

.contact-form{
    padding-left: 150px;
    padding-top: 90px;

}
.cont-head{
    font-size: 25px;
    font-weight: 200;
    padding-bottom: 5px;
}
.cont-head-main{
    font-size: 30px;
    font-weight: 400;
}

.submit{
    background-color: blueviolet;
    color:  white;
    font-size: 22px;
    width: 100%;
    height: 50px;
    text-decoration: none;
    
    
    font-weight: 700;
    margin-top: 5px;
}

input{
    border-radius: 5px;
    width: 200px;
    border-color: #756f6f;
    width: 200px; /* Set a specific width */
    height: 50px; /* Set a specific height */
    /* padding: 5px; Add padding for better spacing */
    margin-bottom: 10px;
    
}
.name{
    margin-left: 0px;
}

.list{
    padding-bottom: 20px;

}
/* ..........footer  section start */
.copyright{
  
    background-color: #666464;
    padding-bottom: 15px;
}
#site{
    color: white;
    text-decoration: none;
    font-weight: 50;
}
#copy{
    color: white;
    font-weight: 50;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
}
#video-desktop-background {
  position:absolute;
  top: 0;
  left: 0;
 
  object-fit: cover;
  z-index: -1;
  background-attachment: fixed;
}
#video-mob-background{
  display: none;
}



@media(max-width:767px){
  
.single-about-img{position: relative;
  height:500px ;
  max-width: 100% ;
  box-shadow: 0 5px 5px rgba(14,25,80,.30);}
.single-about-img:before {
    
    position:  absolute;
    content: " ";
    top: 0;
    left:  0;
    width: 100%;
    height:  100%;
    background: rgba(31,44,108,.3);
}
.single-about-img img {
    width: 100%;
    height: 100%;
}
.about-profile {
  padding-left: 0px;
  padding-top: 20px;
}
.contact-info{
  padding-left: 8px;
  
  padding-top: 90px;
}
.about-list-icon {
 
  width: 100%;
  
}
#intro{
  
  margin-top: -42px;
 
  padding-bottom: 20px;
  
}
.tt{
  padding-top: 60px;
}
.edu{
  padding-top: 60px;
}
.cont-head{
  font-weight: 300;
}
#video-desktop-background {
  display: none;

}
#video-mob-background{
  
  position:absolute;
  top: 0;
  left: 0;
   display: block;
  object-fit: cover;
  z-index: -1;
  background-attachment: fixed;
}

}

